@font-face {
   font-family: cocaColaFont;
   src: url(../fonts/LOKICOLA.TTF);
}

body {
   margin: 0;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #212529;
   text-align: left;
   padding-top: 30px;
   padding-bottom: 5px;
   background-color: rgba(182, 231, 243, 1.0);
}

.main_contents {
   margin-top: 10px;
   margin-bottom: 10px;
}

#main_3d_image {
   background-repeat: no-repeat;
   background-size: cover;
   height: 200px;
}

#main_text {
   float: left;
   margin: 5%;
   width: 90%;
   display: block;
   background-color: rgba(255, 255, 255, 0.8);
   padding: 10px;
   border-radius: 5px;
}

#main_text h2 {
   color: rgba(0, 102, 153, 1);
   font-size: 20px;
   margin-top: 0px;
   margin-bottom: 5px;
}

#main_text h3 {
   font-size: 15px;
   margin-top: 5px;
   margin-bottom: 5px;
}

#main_text p {
   font-size: 12px;
   margin: 0px;
   line-height: 1.2;
}

.logo h1 {
   font-family: cocaColaFont;
   /* You don't need to repeat this for each media query as it is propagated */
   font-size: 31px;
   margin: -10px 0px -15px;
   float: left;
   padding-top: 0px;
   padding-left: 0px;
   padding-right: 2px;
}

.logo h2 {
   font-family: cocaColaFont;
   font-size: 31px;
   margin-top: -6px;
   margin-bottom: -15px;
   padding-top: 0px;
   padding-left: 0px;
   padding-right: 3px;
   float: left;
}

.logo h3 {
   font-size: 18px;
   margin-top: 0px;
   margin-bottom: -5px;
   padding-top: 0px;
   padding-left: 0px;
   float: left;
}

.logo p {
   font-size: 7px;
   margin-top: 22px;
   margin-bottom: 0px;
   padding-top: 0px;
   padding-left: 3px;
}


.card {
   border: 1px solid rgba(0, 0, 0, .125);
   margin-top: 10px;
   margin-bottom: 10px;
   background-color: rgba(182, 231, 243, 1.0);
}

.gallery-header:hover {
   color: rgba(0, 102, 153, 1);
   border: 1px solid transparent;
}


@media (min-width: 576px) {
    /*  Gallery colours*/
    .gallery-header:hover {
        color: rgba(0, 102, 153, 1);
        border: 1px solid transparent;
    }
}
